@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+TC:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: .6px solid black; */
}

body {
    font-family: 'Josefin sans' +'Noto Sans TC';
    font-style: normal;
    position: relative;
}

.banner {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}


.news {
    display: flex;
    padding: 12px 8px;
    margin: 8px 8px;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;


}

/*-----card-----*/

.X {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.02em;
    margin: 0 83px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero {
    background-image: url(img/banner/banner-bg.png);
}


.container {
    width: auto;
    height: 100%;
    max-width: 1440px;
    margin: 60px 72px;

    /* background-color: rgba(241, 241, 206, 0.961); */
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 67px 110px;
    align-items: center;
    position: relative;
}



.card {
    width: 440px;
    height: 448px;
    border: 2px solid #E0E0E0;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-pic {
    height: 124px;
    width: 124px;
    position: absolute;
    top: 108px;
}

.btn-pic {
    position: absolute;
    top: 391.63px;
    height: 100px;
    width: 100px;
}

.card-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%/50%;
    position: absolute;
    top: 391.63px;
    z-index: -1;
}


.card-btn-dark {
    background-color: #BFC9F0;

}

.card-btn-light {
    background-color: #EEE5FF;

}

.card-title {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: -36px;
}

.card-en-title {
    font-family: 'Josefin sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #9A9A9A;
    position: absolute;
    top: 36px;
}

.card-content {
    color: #363636;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    top: 236px;
}

/*-----about-----*/

.about {
    background-color: #E5EBFF;
    height: 712px;
    padding: 0 50px;

}

.about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-content {
    height: 384px;
    width: 526px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 0 0 76px;

    /* background-color: #e4e3e3; */
}

.about-en-title {
    font-family: 'Josefin sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;

    /* border: .6px solid black; */
}

.about-title {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #363636;
    margin-bottom: 40px;

}

.about-info {
    width: 526px;
    height: 240px;
    font-family: 'Noto Sans TC';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: start;
    color: #363636;
}

.about-pic {
    /* background-color: rgb(243, 202, 243); */
    height: 592px;
    width: 636px;
    margin: 60px 72px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: .6px solid black; */
}

.about-pic-info {
    height: 280px;
    width: 636px;
    border-radius: 24px;
    background-color: #FFFFFF;

    /* border: .6px solid black; */
}

.about-pic-wrapper {
    margin: 36px;
    display: flex;
    justify-content: space-between;

    /* background-color: rgb(209, 236, 169); */
}

.about-pic-text {
    border: .6px solid #FFFFFF;

    /* background-color: aqua; */
}

.about-ch-text {
    color: #363636;
    font-family: Noto Sans TC;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: start;
    margin-bottom: 20px;
}

.about-en-text {
    color: #9A9A9A;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: start;
    margin: 68px 116px 0 0;
}

.about-skill {
    display: flex;
}

.about-icon {
    border: 3px solid #7F94E2;
    border-radius: 70px;
    padding: 8px 16px;

    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #7F94E2;
    margin-right: 24px;
}

.about-bg-gray {
    width: 169px;
    height: 208px;
    border-radius: 24px;
    background-color: #F0F0F0;
}

.about-frontend {
    height: 160px;
    width: 164px;
    margin-left: -51px;
    margin-top: 24px;
}

.about-backend {
    height: 160px;
    width: 192px;
    margin-left: -63px;
    margin-top: 24px;
}

/*-----case-----*/

.case {
    margin: 32px 0;

    /* border: .6px solid black; */
    /* background-color: hotpink; */
}

.case-title {
    font-family: Noto Sans TC;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 28px;

    /* border: .6px solid black; */
}

.case-pic {
    height: 428px;
    width: 1296px;
    margin: 0 72px 0 72px;

    /* border: .6px solid black; */
}

.case-team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.case-img {
    margin-bottom: 28px;
    border: .6px solid black;
    background-color: aqua;
}

/*-----training-----*/

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F8F9FD;
}

.train {
    height: 2320px;
    width: 1440px;


}

.train-wrapper {
    margin: 0 182px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: #9A9A9A; */
}


.train-title {
    font-family: Noto Sans TC;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 12px;

}

.train-batch {
    width: 636px;
    height: 58px;
    border-radius: 50px;
    padding: 17px 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.batch-title {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    /* border-right: 1px solid #F0F0F0;*/
    margin-left: 12px;


}

.batch-content {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #363636;
    border-left: 2px solid #F0F0F0;
    padding-left: 12px;
    margin-right: 12px;
}

.training {
    background-image: url(../img/training/training-bg.png);
    background-color: #FFFFFF;
    margin-top: 97px;
    border-radius: 16px;
    border: 2px solid #F0F0F0;
    position: relative;
}

.train-card {
    height: auto;
    display: flex;
    padding: 0 0 42px 48px;

}

.train-card-text {
    display: flex;
    flex-direction: column;
    margin-top: 60.83px;

}

.train-card-title {
    height: 60px;
    width: 202px;
    border-radius: 12px;
    color: #363636;
    padding: 12px 0;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    border: 2px solid black;
    position: absolute;
    top: -28px;
    box-shadow: 4px 4px black;

}




.train-card-title-sec {
    font-family: Noto Sans TC;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    border-bottom: 3px solid #363636;
    width: 82px;
    margin-bottom: 16px;

}

.train-ol {
    padding: 4px 0 0 18px;
}

.train-card-content {
    height: auto;
    width: 618px;
    margin-bottom: 36px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    /* background-color: #9A9A9A; */

}

.train-card-img {
    width: 280px;
    height: 280px;
    margin: 166px 82px 0 0;

}

/* BK train card */

.train-card-bk {
    height: auto;
    display: flex;
    padding: 76px 50px 16px 0;

}

.train-card-img-bk {
    width: 300px;
    height: 280px;
    margin: -12px 0 40px 48px;

}

.train-card-img-ui {
    width: 265px;
    height: 230px;
    margin: 74px 117px 81.12px 0;

}

.train-card-text-bk {
    display: flex;
    flex-direction: column;


}

.train-card-content-bk {
    height: auto;
    width: 618px;
    margin-bottom: 36px;
    margin-left: 48px;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    /* background-color: #9A9A9A; */

}

.train-card-title-bk {
    height: 60px;
    width: 202px;
    border-radius: 12px;
    color: #363636;
    padding: 12px 0;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    border: 2px solid black;
    position: absolute;
    top: -28px;
    left: 40px;
    box-shadow: 4px 4px black;

}

/* coach */

.coach {
    width: 1076px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* background-color: chartreuse; */
}

.coach-card {
    width: 251px;
    height: 160px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: #FFFFFF;
    display: flex;
    position: relative;

}

.coach-photo {
    height: 180px;
    width: auto;
    position: absolute;
    bottom: 0;

}

.coach-name {
    height: 104px;
    width: 48px;
    text-align: center;
    writing-mode: vertical-lr;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #363636;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 4px 4px black;

    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    position: absolute;
    left: 183px;
    top: -24px;

}

/* CV */


.cv-title {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #363636;
    margin-top: 30px;

}

.cv-content {

    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #363636;
    margin-left: 20px;
    margin-top: 12px;

}

/* 
.cv {
    display: none; 
} */

.cv-hover {
    display: none;
}

.coach-card:hover .coach-name {
    margin-top: -16px;
}

.coach-card:hover {
    background-color: #E5EBFF;
}

.coach-card:hover .cv {
    margin-left: 100px;
}

/* button */

.sign {
    width: auto;
    height: 96px;
    background-color: #E5EBFF;
    margin: 80px 182px 0;


    border-radius: 16px;
    padding: 24px 457px;

}

.sign-text {
    width: 163px;
    height: 48px;
    font-family: Noto Sans TC;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    /* text-align: left; */
}

/* fee & path */

.qa-wrapper {
    margin: 0 220px;
}

.train-qa-title {

    font-family: Noto Sans TC;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #363636;
    border-bottom: 2px solid #E0E0E0;
    margin-top: 40px;

}

.train-qa {
    display: flex;
    margin: 0 32px;
    /* border: 2px solid black; */
}

.train-icon {
    margin: auto 32px;
}


.qa-text {
    margin: 24px 0;

}

.qa-que {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;


}

.qa-ans {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}

.qa-line {
    border-bottom: 2px solid #E0E0E0;
}

/* organizer */

.org-wrapper {
    background-color: #F0F0F0;
    height: 312px;
    padding: 56px 0;
}

.organizer {
    display: flex;
}

.org-logo {
    width: 196px;
    height: 148px;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 24px 48px;
    margin: 0 24px 16px 0;
}

.org-logo-6 {
    padding: 55px 38px;
}

.org-logo-k {
    padding: 34px 18px;
}

.org-logo-w {
    padding: 59px 23px;
}

.org-title {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}


.org-name {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.org-name-hex {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

/* footer */

footer {
    height: 96px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #363636;
    padding: 36px 510px;
}

.copyright {
    width: 419px;

}